<h1> This is your profile page <%= @user.first_name %> </h1>

<h2> Would would you like to do? </h2>

<p> 1. See all your Listings </p>
<p> 2. Make a <%= link_to "New Listing", new_listing_path %>
<p> 3. Look at reservations </p>
<p> 3. Make a new reservation </p>

