<h1>Reservation#Mailer</h1>

<p>
  <%= @greeting %>
</p>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>
      You travel dates are:

<%= @reservation.start_date %>
<%= @reservation.end_date %>
    </p>
  </body>
</html>

